<template>
  <b-container>

    <b-row>
      <b-form @submit.stop.prevent="onSubmit">
        <b-col cols="12">
          <b-button v-if="isUpdate" size="sm" variant="danger" type="submit" class="mx-1"><fa-icon icon="save"></fa-icon> Update</b-button>
          <b-button v-else size="sm" variant="danger" type="submit" class="mx-1"><fa-icon icon="save"></fa-icon> Save</b-button>
          <b-button size="sm" variant="warning" @click="$emit('close')"><fa-icon icon="times"></fa-icon> Close</b-button>
          <hr>
          <ValidationErrors></ValidationErrors>
        </b-col>
        <b-col cols="12">
          <b-container fluid >
            <b-row>
              <b-col v-for="field in fields" :key="field.id" :cols="field.css_style" :order="field.order">

                <b-form-group :label="field.name" :description="field.description">
                  <b-form-input
                      :name="'cf_'+field.id"
                      v-if="field.input_type=='textbox' && field.active"
                      v-model="item.userData['cf_'+field.id]"
                      :placeholder="field.placeholder"
                      v-validate="{ required: field.is_required }"
                      :state="validateState('cf_'+field.id)"
                      :data-vv-as="field.name"
                  ></b-form-input>
                  <b-form-textarea
                      :name="'cf_'+field.id"
                      v-if="field.input_type=='text' && field.active"
                      v-model="item.userData['cf_'+field.id]"
                      :placeholder="field.placeholder"
                      v-validate="{ required: field.is_required }"
                      :state="validateState('cf_'+field.id)"
                      :data-vv-as="field.name"
                  ></b-form-textarea>
                  <b-form-checkbox
                      :name="'cf_'+field.id"
                      v-if="field.input_type=='checkbox' && field.active"
                      v-model="item.userData['cf_'+field.id]"
                      :placeholder="field.placeholder"
                      v-validate="{ required: field.is_required }"
                      :state="validateState('cf_'+field.id)"
                      :data-vv-as="field.name"
                  ></b-form-checkbox>
                  <vue-select
                      :name="'cf_'+field.id"
                      v-if="field.input_type=='smart_ddl' && field.active"
                      :options="reMap(field.smart_ddl_items)"
                      v-model="item.userData['cf_'+field.id]"
                      @input="optionSelected(field, $event)"
                      v-validate="{ required: field.is_required }"
                      :state="validateState('cf_'+field.id)"
                      :data-vv-as="field.name"
                  >
                    <template #search="{attributes, events}">
                      <input
                          class="vs__search"
                          :required="!item.userData['cf_'+field.id]"
                          v-bind="attributes"
                          v-on="events"
                      />
                    </template>

                  </vue-select>
                  <b-form-datepicker
                      :name="'cf_'+field.id"
                      v-if="field.input_type=='calendar' && field.active"
                      v-model="item.userData['cf_'+field.id]"
                      today-button
                      reset-button
                      close-button
                      v-validate="{ required: field.is_required }"
                      :state="validateState('cf_'+field.id)"
                      :data-vv-as="field.name"
                  ></b-form-datepicker>
                </b-form-group>
              </b-col>

            </b-row>


          </b-container>

        </b-col>
      </b-form>
    </b-row>
    <b-row>
      <b-col cols="12">
        <pre class="hljs">{{fields}}</pre>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>
import ValidationErrors from "@/components/ValidationErrors";
export default {
  name: "CustomForm",
  components:{ValidationErrors},
  props: {
    item : Object,
    fields: Array,
    isUpdate : Boolean
  },
  methods: {
    reMap(items) {
      return items.map(item=>{
        return {
          ...item,
          label : item.name,
          text : item.name,
        }
      })

    },
    optionSelected(field, event){
      console.log("EVENT" , event)
      this.item.userData['cf_'+field.id]=event.value
    },
    validateState(ref) {
      if (
          this.veeFields[ref] &&
          (this.veeFields[ref].dirty || this.veeFields[ref].validated)
      ) {
        return !this.veeErrors.has(ref);
      }
      return null;
    },
    onSubmit(){
      this.$validator.validateAll().then(result => {
        if (!result) {
          return;
        }
        if(this.isUpdate){
          this.$emit('update', this.item)
        } else {
          this.$emit('save', this.item)
        }
      });
    }
  },
}
</script>
