<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <b-button size="sm" variant="primary" @click="$emit('addNew')"><fa-icon icon="plus"></fa-icon> Add New</b-button>
      </b-col>
      <b-col cols="12">
        <b-table striped :items="items" :fields="fields">
          <template #cell(actions)="data">
            <b-button variant="primary" class="mx-2" size="sm" @click="$emit('getPost', data.item.id)"><fa-icon icon="pen"></fa-icon></b-button>
            <b-button variant="danger"  class="mx-2" size="sm" @click="$emit('deletePost', data.item.id)"><fa-icon icon="trash"></fa-icon></b-button>
          </template>
          <template #cell(userData)="data">
            {{Object.values(data.item.userData).join(', ')}}
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "PostList",
  props: {
    items : Array,
  },
  data() {
    return {
      fields: [
        {
          key: 'id',
          label : 'ID',
          sortable: false
        },
        {
          key: 'userData',
          label : 'NAME',
          sortable: false
        },
        {
          key: 'actions',
          label: 'ACTIONS',
          sortable: false
        }
      ],
    }
  },
}
</script>
