<template>
  <b-alert show variant="danger" class="mt-2" v-if="$validator.errors.items.length>0">
      <h4><b>Errors</b></h4>
      <ul>
        <li v-for="err in $validator.errors.items" :key="err.id">{{err.msg}}</li>
      </ul>
  </b-alert>
</template>

<script>
export default {
  name: 'ValidationErrors'
}
</script>
