.svg-inline--fa{
    width: 1em;
    height: 1em;
}


.custom-control-inline {
    display: inline-flex;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: inline-flex;
    min-height: 1.5rem;
    padding-right: 1rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.custom-control label{
    margin-left: 0.3 rem;
}
