<template>
  <b-container id="app" class="mt-5" fluid>
    <b-row>
        <CustomForm
            v-if="item"
            :item="item"
            :fields="form.fields"
            :is-update="is_update"
            @close="item=null"
            @save="save"
            @update="update"

        ></CustomForm>
        <PostList
            v-else
            :items="items"
            @getPost="getPost($event)"
            @deletePost="deletePost($event)"
            @addNew="add"
        ></PostList>
    </b-row>
  </b-container>
</template>

<script>
import CustomForm from "@/components/CustomForm";
import PostList from "@/components/PostList";
import {AlertMixin} from "@/mixins/AlertMixin";
export default {
  name: 'App',
  components: {CustomForm,PostList},
  mixins: [AlertMixin],
  data() {
    return {
      form : null,
      item : null,
      items : [],
      form_id : 'blog',
      is_update : false,
      default_item : {
        id : null,
        name : null,
        userData : {}
      }
    }
  },
  methods: {
    deletePost(id){
      this.popConfirm('Confirm', 'Are you sure?')
        .then(()=>{
          this.axios.delete(`/posts/${id}`)
              .then(()=>{
                this.item=null
                this.is_update=false
                this.getPosts()
              })
        })

    },
    update(){
      this.axios.put(`/posts/${this.item.id}`, this.item)
        .then(()=>{
          this.item=null
          this.is_update=false
          this.popAlert('success', 'OK', 'Updated')
          this.getPosts()
        })
    },
    save(){
      this.axios.post(`/posts`, this.item)
          .then(()=>{
            this.item=null
            this.is_update=false
            this.popAlert('success', 'OK', 'Saved')
            this.getPosts()
          })
    },
    getPosts() {
      this.is_update = true
      this.axios.get(`/posts`)
          .then(res=>{
            this.items = res.data
          })
    },
    getPost(id) {
      this.axios.get(`/posts/${id}`)
          .then(res=>{
            this.item = res.data ? res.data : null
          })
    },
    async getForm() {
      this.axios.get(`/forms/${this.form_id}`)
        .then(res=>{
          this.form = res.data ? res.data : null
        })
    },
    add(){
      this.is_update = false
      this.item = JSON.parse(JSON.stringify(this.default_item))
      this.form.fields.forEach(field=>{
        this.item.userData[this.form.prefix + field.id] = field.default_value
      })
      this.item.id = this.$uuid.v1()
    }
  },
  created(){
    this.getForm(this.form_id)
    this.getPosts()
  }
}
</script>
